rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    // Perfil de Usuário
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if isSignedIn() && request.auth.uid == userId;
    }

    // Equipes
    match /teams/{teamId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn() && (resource.data.supervisorId == request.auth.uid);
    }

    // Acordos
    match /agreements/{agreementId} {
      allow read: if isSignedIn() && (
        // Se for o criador
        resource.data.operatorId == request.auth.uid ||
        // Se for supervisor do time
        getUserData().role == 'supervisor' && getUserData().teamId == resource.data.teamId ||
        getUserData().managedTeams.hasAny([resource.data.teamId])
      );
      
      allow create: if isSignedIn() && 
        request.resource.data.operatorId == request.auth.uid &&
        request.resource.data.teamId == getUserData().teamId;
      
      allow update: if isSignedIn() && (
        resource.data.operatorId == request.auth.uid ||
        getUserData().role == 'supervisor' && getUserData().teamId == resource.data.teamId
      );
      
      allow delete: if isSignedIn() && (
        resource.data.operatorId == request.auth.uid ||
        getUserData().role == 'supervisor' && getUserData().teamId == resource.data.teamId
      );
    }

    // Configurações Globais/Time
    match /settings/{settingId} {
      allow read: if isSignedIn();
      allow write: if isSignedIn() && getUserData().role == 'supervisor';
    }
  }
}
